/* Browser Reset */
* {
  box-sizing: border-box;
}

/* Base styles */
body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
}

p {
  font-size: .95em;
  margin-bottom: 1.5em;
}

h2,
h3,
a {
  color: #093a58;
}

h2,
h3 {
  margin-top: 0;
}

a {
  text-decoration: none;
}

/* Header styles */
header {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background: #3acec2;
  margin-bottom: 30px;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 2em 0;
  background: #d9e4ea;
}
